.form-3 {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;

    /* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.form-3 a {
    /* Width and position */
    width: 100%;
    padding: 8px 5px;
    text-decoration: none;
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
  
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

.form-3 a:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}

.form-3 a:active { 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}

.no-boxshadow .form-3 a:hover {
    background: #2a92d8;
}

.fixed {
    position: fixed;
}
.attach-right {
    right: 0px;
    top: 250px;
}
.attach-left {
    left: 0px;
    top: 250px;
}
.panel {
    background-color: #18BC9C;
}
.panel-body {
    padding:10px
}
.teamrow {
    border-bottom: 1px solid lightgray;
}

.notout {
    background-color: #E00F0F;
    color:yellow;
}
.icon-small {
    font-size: 10px;
    color: black;
}

.icon-big {
    font-size: 20px;
    color: black;
    padding-top: 5px;
}

.teamscore {
    font-size: 60px;
}

.modal-dialog {
    color: black;
}
a>span.glyphicon-plus, a>span.glyphicon-minus {
    color:blue;
    margin-top: 10.5px;
}

.foul-panel, .team-list-panel {display:none; width: 200px; height: 295px; background-color: #38337D; border-left: 1px solid #353535; padding: 5px; z-index: 1; }

table a:not(.btn), .table a:not(.btn) {color:white;}

#playersList .row { padding:4px; margin:0; font-weight: bold; color:white;}
.rowHeader { background-color: #171165;}
.rowBody { background-color: #9A9BB5;}
.rowBody > div { border-bottom: 1px solid #B3ABAB}
header .container.scoresheet{padding-top:50px; padding-bottom: 0px}
.navbar-default {background-color: #1E3348;}
#showMatchResultModal .highlights {background-color: #89ACD8;}
.highlights .modal-body {background-color: #E3D8EA;}
#showMatchResultModal .results {background-color: #EBECE8;}
.results .modal-body {background-color: #BBBBBB;}
#showMatchResultModal .modal-footer {padding:0;}
#showMatchResultModal hr.star-light {border-color: #1A27C3}
hr.star-light.results:after {color: #1A27C3; background-color: #E3D8EA;}
#showMatchResultModal h3 {    padding: 0; margin-top: 0; font-size: 35px;}
td.defenders .list-group-item {background-color: #CDC9D0; padding:5px 15px;}
td.attackers .list-group-item {background-color: #EFCCD9; padding:5px 15px;}
span.performanceLabel {font-size: 17px; font-weight: bold;}
span.performanceLabel img{display: inline-block; margin: 0;}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}