<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="digitourapp">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root123</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/digitourapp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">digitourapp</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!-- Mapping annoted classes -->
        <!--  
        <mapping class="com.digitour.app.model.FoulMaster"/>
        <mapping class="com.digitour.app.model.MatchPointMaster"/>
        <mapping class="com.digitour.app.model.SymbolMaster"/>
        <mapping class="com.digitour.app.model.TossDetailsMaster"/>
        <mapping class="com.digitour.app.model.TournamentMatchFoulMaster"/>
        <mapping class="com.digitour.app.model.TournamentMatchMaster"/>
        <mapping class="com.digitour.app.model.TournamentMatchResultMaster"/>
        <mapping class="com.digitour.app.model.TournamentParticipantPointsMaster"/>
        <mapping class="com.digitour.app.model.TournamentScheduleDateMaster"/>
        <mapping class="com.digitour.app.model.TournamentScheduleMaster"/> -->

        <mapping class="com.digitour.app.db.model.City"/>
        <mapping class="com.digitour.app.db.model.State"/>
        <mapping class="com.digitour.app.db.model.PlayerProfile"/>
        <mapping class="com.digitour.app.db.model.Team"/>
        <mapping class="com.digitour.app.db.model.TournamentOfficial"/>
        <mapping class="com.digitour.app.db.model.Tournament"/>
        <mapping class="com.digitour.app.db.model.Group"/>
        <mapping class="com.digitour.app.db.model.TournamentParticipant"/>
        <mapping class="com.digitour.app.db.model.TournamentOfficial"/>
        <mapping class="com.digitour.app.db.model.MatchTossDetails"/>
        <mapping class="com.digitour.app.db.model.TournamentMatchDetails"/>
        <mapping class="com.digitour.app.db.model.TournamentParticipant"/>
        
    </session-factory>
</hibernate-configuration>
